* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: var(--text-base);
}

body {
    background-color: var(--bg-body);
    color: var(--text-main)
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}